.FormRegister{
    display: flex;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}

#CardRegister{
    align-content: initial;
    padding: 20px;
}