.Form{
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.Card{
    align-content: center;
    width: 50%;
}

.FormInput{
    align-content: center;
    width: 100vh;
    padding: 40px 40px;
}