.Form{
    display: flex;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}

.Panel{
    align-content: initial;
    width: 80%;
    height: 80%;
}

.InputVar{
    align-content: left;
    width: 20%;
    min-width: fit-content;
}

h2{
    color: #1c1d21;
}