.Form{
    display: flex;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}

#CardLogin{
    align-content: initial;
}

h2{
    color: #1c1d21;
}